---
layout: default
---

<div class="home">

  <h1 class="page-heading"><a href="{{ site.data.links.internal.about.path }}">About LogKit</a></h1>

  {% capture summary %}{% include summary.md %}{% endcapture %}{{ summary | markdownify }}

  {% if site.posts %}
  <hr>

  <h1 class="page-heading">News</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>

  {% endif %}

  {% comment %}<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>{% endcomment %}

</div>
